* {
  margin: 0;
}

/* ****************************header of page*********************** */
.navcon {
  width: 100%;
  height: 30px;
  background-color: rgb(66, 66, 66);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  border-radius: 3px;
}
.navbar {
  list-style: none;
}
.button_nav {
  margin: 2px;
}
/* ****************************header of page*********************** */

/* ******************main of page****************** */

.img1 {
  height: 350px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 50px;
  margin-left: 400px;
}

.table1 {
  margin-top: 30px;
  border-collapse: collapse;
}

.Head_of_table {
  background-color: gray;
}
/* ******************main of page****************** */

/* ****************************************footer************************************* */
.video1 {
  display: flex;
  justify-content: center;
  margin-top: 60%;
}
/* ****************************************footer************************************* */
